// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$white: #ffffff;
$black: #000000;

$light: #f6f6f6;
$light-invert: findColorInvert($light);

$dark: #212721;
$dark-invert: findColorInvert($dark);

$primary: #00853D;
$primary-invert: findColorInvert($primary);

$info: #6D9EEB;
$info-invert: findColorInvert($info);

$success: #40C18E;
$success-invert: findColorInvert($success);

$warning: #F6B26B;
$warning-invert: findColorInvert($warning);

$danger: #DE5F5F;
$danger-invert: findColorInvert($danger);

$dank: #45818E;
$dank-invert: findColorInvert($dank);

$gucci: #8E7CC3;
$gucci-invert: findColorInvert($gucci);


// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "dank": ($dank, $dank-invert),
    "gucci": ($gucci, $gucci-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";